<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/schools_are_boring"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/schools_are_boring"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolsAreBoring"
        tools:targetApi="31">
        <activity
            android:name=".activity.AdmitCardActivity"
            android:exported="false"
            android:label="@string/title_activity_admit_card"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.exams.ExamsActivity"
            android:exported="false"
            android:label="@string/title_activity_exams"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.results.AddResult"
            android:exported="false"
            android:label="@string/title_activity_add_result"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.results.ResultActivity"
            android:exported="false"
            android:label="@string/title_activity_result"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.assignments.AssignmentActivity"
            android:exported="false"
            android:label="@string/title_activity_assignment"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.assignments.AddAssignment"
            android:exported="false"
            android:label="@string/title_activity_add_assignment"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.timetables.AddTimetable"
            android:exported="false"
            android:label="@string/title_activity_add_timetable"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.attendance.ShowAttendance"
            android:exported="false"
            android:label="@string/title_activity_show_results"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.attendance.Attendance"
            android:exported="false"
            android:label="@string/title_activity_attendance"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.myai.MyAi"
            android:exported="false"
            android:label="@string/title_activity_my_ai"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.timetables.TimeTable"
            android:exported="false"
            android:label="@string/title_activity_time_table"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.syllabus.AddSyllabus"
            android:exported="false"
            android:label="@string/title_activity_add_syllabus"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.syllabus.Syllabus"
            android:exported="false"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.teachers.TeacherLogin"
            android:exported="false"
            android:label="@string/title_activity_teacher_login"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.teachers.AddTeachersActivity"
            android:exported="false"
            android:label="@string/title_activity_add_teachers"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.teachers.Teachers"
            android:exported="false"
            android:label="@string/title_activity_teachers"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.student.StudentLogin"
            android:exported="false"
            android:label="@string/title_activity_student_login"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.student.AddStudentActivity"
            android:exported="false"
            android:label="@string/title_activity_add_student"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.student.Students"
            android:exported="false"
            android:label="@string/title_activity_students"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.loginsignup.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.loginsignup.UsertypeActivity"
            android:exported="false"
            android:label="@string/title_activity_usertype"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.loginsignup.SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.SchoolsAreBoring" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SchoolsAreBoring">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>